<html lang="en">
<head>
    {% if DEBUG %}
        <link rel="stylesheet" type="text/css" href="{{ static('fomantic-ui/dist/semantic.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ static('fomantic-ui/dist/semantic.min.css') }}">
    {% endif %}
    <title></title>
</head>
<body>
    {% if CONFIG.ANNOUNCEMENT %}
        <div class="ui ignored info message">{{ CONFIG.ANNOUNCEMENT }}</div>
    {% endif %}

    {% if DEBUG %}
        <script src="{{ static('zepto/dist/zepto.js') }}"></script>
    {% else %}
        <script src="{{ static('zepto/dist/zepto.min.js') }}"></script>
    {% endif %}
</body>
